aniso8601
astroid
beautifulsoup4
brotlipy
ca-certificates
certifi
cffi
chardet
click
cryptography
flask
flask-restful
idna
isort
itsdangerous
jinja2
lazy-object-proxy
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
markupsafe
mccabe
ncurses
openssl
pip
pycparser
pylint
pyopenssl
pysocks
python
python-dateutil
python_abi
pytz
readline
requests
setuptools
six
soupsieve
sqlite
tk
toml
tzdata
urllib3
werkzeug
wheel
wrapt
xz
zlib
